@model VirtualNote.Kernel.DTO.Query.Projects.ProjectQueryDetails
           
@section Header
{
    <h1 class="">Projects</h1>

    <div id="bread_crumbs">
		<a href="/">Home</a> / 
		<a href="/Configurations/Members">Projects</a> / 	
        <a href="" class="current_page">Details</a>
	</div> <!-- #bread_crumbs -->
}

<fieldset class="isFieldSet floatedRight" class="width_auto">

    <legend> Actions </legend>

    @Html.ButtonIconized("Edit", "Edit", null, 
                         new { id = Model.ProjectId }, 
                         new { @class = "btn btn-black" })

    @if(Model.Enabled){
        @Html.ButtonIconized("Delete", "Delete", null,
                             new { id = Model.ProjectId },
                        new { 
                            @class = "btn-icon btn-maroon btn-minus marginLeft_10px",
                            onclick = "javascript:return confirm('You are sure that you want to remove this project?');" 
                        })
        }
</fieldset> 

<h2 class="width_500px"> Details </h2>

@Html.ValidationSummary()

<div class="form label-inline uniform">


    <div class="field">
	    @Html.LabelFor(model => model.ProjectName, "Name")
        @Html.DisplayFor(model => model.ProjectName)
    </div>

     <div class="field">
	    @Html.LabelFor(model => model.ResponsableName, "Responsable")
        @Html.DisplayFor(model => model.ResponsableName)
    </div>

    <div class="field">
	    @Html.LabelFor(model => model.ClientName, "Client")
        @Html.DisplayFor(model => model.ClientName)
    </div>

    <div class="field">
	    @Html.LabelFor(model => model.Description, "Description")
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="field">
	    @Html.LabelFor(model => model.Enabled, "Enabled")
        @Html.SetImageIfEnabled(Model.Enabled)   
    </div>

    <div class="field">
	    <label for="Workers"> Workers </label>
        @if (Model.AssignedWorkers.Count() == 0) {
            @: None
        }
        else {
            @Model.AssignedWorkers.PrintSequence()
        }  
    </div>

    <div class="field">
	    <label for="Issues"> Issues </label>
        @Html.DisplayFor(model => model.Issues)
    </div>
</div>